VERSION 5.8 ;
BUSBITCHARS "[]" ;
DIVIDERCHAR "/" ;
UNITS
  DATABASE MICRONS {{ fp.db_units }} ;
END UNITS

MACRO {{ fp.design }}
  FOREIGN {{ fp.design }} ;

  {% if False %}
  TODO: should we specify symmetry? do we have to analyze the design to
  determine that?
  SYMMETRY X Y R90 ;
  {% endif %}

  SIZE {{ fp.diearea[1][0] }} BY {{ fp.diearea[1][1] }} ;
  CLASS BLOCK ;
  {% for name, pin in fp.pins.items() %}
  PIN {{ name }}
    DIRECTION {{ pin.direction }} ;
    USE {{ pin.use }} ;
    SHAPE ABUTMENT ;
    {% for port in pin.ports %}
    PORT
      {% for shape in port.shapes %}
      LAYER {{ shape.layer }} ;
      RECT {{ port.point[0] + shape.box[0][0] }}
           {{ port.point[1] + shape.box[0][1] }}
           {{ port.point[0] + shape.box[1][0] }}
           {{ port.point[1] + shape.box[1][1] }} ;
      {% endfor %}
    END
    {% endfor %}
  END {{ name }}
  {% endfor %}

  {% for obs in fp.obstructions %}
  OBS
    LAYER {{ obs.layer }} ;
    RECT {{ obs.ll | join (' ') }} {{ obs.ur | join(' ') }} ;
  END
  {% endfor %}

END {{ fp.design }}

END LIBRARY