VERSION 5.8 ;
BUSBITCHARS "[]" ;
DIVIDERCHAR "/" ;
UNITS
  DATABASE MICRONS {{ fp.db_units }} ;
END UNITS

MACRO {{ fp.design }}
  FOREIGN {{ fp.design }} ;

  {% if False %}
  TODO: should we specify symmetry? do we have to analyze the design to
  determine that?
  SYMMETRY X Y R90 ;
  {% endif %}

  SIZE {{ fp.die_area[1][0] }} BY {{ fp.die_area[1][1] }} ;
  CLASS BLOCK ;
  {% for pin in fp.pins %}
  PIN {{ pin.name }}
    DIRECTION {{ pin.direction }} ;
    USE {{ pin.use }} ;
    SHAPE ABUTMENT ;
    PORT
      LAYER {{ pin.port.layer }} ;
      RECT {{ pin.port.point[0] + pin.port.box[0][0] }}
           {{ pin.port.point[1] + pin.port.box[0][1] }}
           {{ pin.port.point[0] + pin.port.box[1][0] }}
           {{ pin.port.point[1] + pin.port.box[1][1] }} ;
    END
  END {{ pin.name }}
  {% endfor %}

  {% for obs in fp.obstructions %}
  OBS
    LAYER {{ obs.layer }} ;
    RECT {{ obs.ll | join (' ') }} {{ obs.ur | join(' ') }} ;
  END
  {% endfor %}

END {{ fp.design }}

END LIBRARY