[flake8],
extend-exclude = third_party,setup/deps,_skbuild
max-line-length = 100
# Intial ignore list will be reduced as each issue is addressed
ignore =
    C901,
    E121,
    E122,
    E123,
    E124,
    E125,
    E126,
    E127,
    E128,
    E129,
    E131,
    E201,
    E202,
    E203,
    E211,
    E221,
    E222,
    E225,
    E226,
    E228,
    E231,
    E241,
    E251,
    E261,
    E262,
    E265,
    E266,
    E271,
    E275,
    E301,
    E302,
    E303,
    E305,
    E306,
    E401,
    E402,
    E501,
    E502,
    E701,
    E711,
    E712,
    E713,
    E722,
    E741,
    F401,
    F403,
    F405,
    F541,
    F811,
    F821,
    F841,
    W291,
    W292,
    W293,
    W391,
    W504,
    W605
