
#Editor files
*~
*~
*.log
tmp*

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vagrant/
/setup/deps

# Test results
pytest_tmp/

# Scikit-build build directory
_skbuild/

# C++ module for leflib gets installed in leflib/ after running pip install -e .
siliconcompiler/leflib/_leflib.*.so
