
#Editor files
*~
*~
*.log
tmp*
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.bo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vagrant/
deps/
.venv/

# Test results
pytest_tmp/

# Scikit-build build directory
_skbuild/
