# These files should be included in the sdist by default, but we include them
# manually since scikit-build breaks this behavior:
# https://github.com/scikit-build/scikit-build/issues/525
include pyproject.toml
include setup.py
include README.md

include CMakeLists.txt

graft siliconcompiler/leflib
graft siliconcompiler/templates
graft siliconcompiler/tools
graft siliconcompiler/checklists
graft third_party/tools/openroad/tools/OpenROAD/src/odb/src/lef
