# Pip3 requirements file. To install Python library dependencies, run:
# > pip3 install -r requirements.txt

numpy >= 1.19
aiohttp >= 3.7.4.post0
requests >= 2.22.0
PyYAML >= 5.4.1
defusedxml >= 0.7.1
pandas >= 1.1.5
Jinja2 >= 2.11.3
cryptography >= 3.4.7
graphviz == 0.17

# Build dependencies
scikit-build >= 0.12
cython
cmake

# Docs dependencies
Sphinx >= 3.5.4
sphinx-rtd-theme >= 0.5.2
pip-licenses

# Testing dependencies
pytest >= 6.2.4
pytest-xdist >= 2.3.0
pyvirtualdisplay

