# Pip3 requirements file. To install Python library dependencies, run:
# > pip3 install -r requirements.txt

matplotlib >= 3.3
numpy >= 1.19
ply >= 3.11
aiohttp >= 3.7.4.post0
PyYAML >= 5.4.1
defusedxml >= 0.7.1
pandas >= 1.2.3
Jinja2 >= 2.11.3
Sphinx >= 3.5.4
