# Floorplan information - core boundary coordinates, std. cell row height,
# minimum track pitch as defined in LEF

set ::halo 2

# POWER or GROUND #Std. cell rails starting with power or ground rails at the bottom of the core area
set ::rails_start_with "POWER" ;

# POWER or GROUND #Upper metal stripes starting with power or ground rails at the left/bottom of the core area
set ::stripes_start_with "POWER" ;

# Power nets
set ::power_nets "VDD"
set ::ground_nets "VSS"

#set gdngen::global_connections {
#  VDD {
#    {inst_name .* pin_name ^VDD$}
#  }
#  VSS {
#    {inst_name .* pin_name ^VSS$}
#  }
#}

##===> Power grid strategy
# Ensure pitches and offsets will make the stripes fall on track

if { [info exists ::env(4X)] } {
  pdngen::specify_grid stdcell {
    name top

    rails {
        M1 {width 0.072 offset 0}
        M2 {width 0.072 offset 0}
    }

    straps {
        M5 {width 0.216  pitch 47.52 spacing 0.288 offset 1.188}
        M6 {width 0.544  pitch 48 spacing 0.384 offset 2.556}
    }

    connect {
        {M5 M2}
    }

  }
} else {
  pdngen::specify_grid stdcell {
    name top

    rails {
        M1 {width 0.018 offset 0}
        M2 {width 0.018 offset 0}
    }

    straps {
        M5 {width 0.12   pitch 11.88 spacing 0.072 offset 0.300}
        M6 {width 0.288  pitch 12 spacing 0.096 offset 0.513}
    }

    connect {
        {M5 M1}
        {M5 M6}
    }
  }
}

