name: 'Python CI Tests'

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  python_test_job:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    name: 'Pure Python tests'
    strategy:
      fail-fast: false
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies (linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install graphviz

      - name: Install Dependencies (windows)
        if: matrix.os == 'windows-latest'
        run: |
          choco install -y graphviz
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force
          git config --system core.longpaths true
    
      - name: Install Dependencies (macos)
        if: matrix.os == 'macos-latest'
        run: |
          brew install graphviz

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: pip

      - name: Run Python tests
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -e .[test]
          pytest -n auto --import-mode=append -m "not eda" --cov --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
          name: codecov-${{ matrix.python }}-${{ matrix.os }}
          verbose: true
